TWITCH_USERNAME=ivantheragingbot
IRC_TOKEN=oauth:your_token_here
TWITCH_CHANNEL=ivantheragingpython

# Optional flags
# AUTO_READ=true
# READ_AUTHOR_MESSAGE=false

# Optional text-to-speech settings
# TTS_LANG=es
# TTS_TLD=com.ar
# TTS_HTTP_TIMEOUT=10s
